head_div{
  width: 100%;
}

.input_div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.input_div > div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 5px;
  height: 35px;
}


.input_div > div > p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #3498db;      
  height: 35px; 
  line-height: 34px; 
}

.input_div > div > select,
.input_div > div > input{
  font-size: 1rem; 
  font-weight: 300;
  height: 28px;

}
