.head_div {
  width: 100%;
  max-width: 800px;
  margin: 5px auto;
  display: flex;
  border: 1px solid #4da3ff;
  background-color: #f0f8ff;
  border-radius: 8px;
  padding: 3px;
  font-weight: 600;
}

.menu_item {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  margin: 1px;
  border-radius: 5px;
  text-decoration: none;
  color: #0056b3;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu_item:hover {
  background-color: #d6ecff;
  color: #1a73e8;
}

.active {
  background-color: #b3d8ff;
  color: #0b4f91;
  font-weight: 700;
}
