.container{
  width: 1000px;
  margin: 0 auto; 
  height: 800px;
  overflow: hidden;
}

.header_div{
  height: 10%;
}

.body_div {
  height: 90%;       
  overflow-y: auto;    
  overflow-x: hidden;  
}